@keyframes eyes {
    0%,
    8.88889%,
    100% {
        top: -50px;
    }
    17.77778% {
        top: -45px;
    }
    91.11111% {
        top: -20px;
    }
    57.77778%,
    88.88889% {
        top: -15px;
    }
    66.66667% {
        top: -25px;
    }
}

.globe .bird .body .eye::after {
    animation: eyes 4.5s linear infinite;
}

@keyframes wings {
    0%,
    88.88889%,
    100% {
        top:70px;
    }
    91.11111% {
        top: 60px;
    }
}

.globe .bird .body::before, .globe .bird .body::after {
    animation: wings 4.5s linear infinite;
}

@keyframes feet {
    0%,
    88.88889%,
    100% {
        top: -2px;
    }
    91.11111% {
        top: 0px;
    }
}

.globe .bird .body .feet::before, .globe .bird .body .feet::after {
    animation: feet 4.5s linear infinite;
}

@keyframes cloud {
    0% {
        left: -140px;
    }
    100% {
        left: 280px;
    }
}

.globe .cloud {
    animation: cloud 9s linear infinite;
}

.globe .cloud.small {
    animation-delay: -1.5s;
    animation-duration: 13.5s;
}


@keyframes sunAnimation {
    0%, 50% {
        opacity: 1; 
    }
    51%, 100% {
        opacity: 0; 
    }
}

@keyframes moonAnimation {
    0%, 50% {
        opacity: 0; 
    }
    51%, 100% {
        opacity: 1; 
    }
}

/* @keyframes sunMovement {
    0% {
        top: -120px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: -120px;
    }
}

@keyframes moonMovement {
    0% {
        top: -120px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: -120px;
    }
} */
/* @keyframes sunRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moonRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */